/** Basic CSS  */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style: none;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Kumbh Sans", sans-serif;
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.heading-1 {
  font-size: calc(1.6rem + 1.6vw);
  font-weight: 700;
}

.btn {
  border: none;
  background: transparent;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: hsl(240, 6%, 50%);
  transition: color 0.2s;
  font-size: 1.7rem;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  color: hsl(14, 88%, 65%);
}

.container {
  min-height: 70vh;
  display: grid;
  place-items: center;
}

/** Accordion  */
.accordion {
  max-width: 100rem;
  width: 100%;
  max-height: 50rem;
  height: 100%;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.4);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 5rem;
  padding-right: 10rem;
}

.accordion__img-container {
  position: relative;
}

.accordion--img,
.accordion--img-bg,
.accordion--img-pattern {
  position: absolute;
}

.accordion--img {
  top: 40%;
  left: -9rem;
}

.accordion--img-bg {
  top: 10%;
  left: -4rem;
}

.accordion--img-pattern {
  width: 70rem;
  top: -12rem;
  left: -28rem;
}

.accordion__faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.accordion__que {
  padding: 1.8rem 0;
  color: hsl(240, 6%, 50%);
  border-bottom: 0.5px solid hsla(240, 6%, 50%, 0.349);
}

.accordion__icon {
  width: 1.3rem;
  height: 1.3rem;
  margin-left: 1.5rem;
  transition: all 0.3s ease-in-out;
}

.accordion__answer {
  visibility: hidden;
  height: 0;
  opacity: 0;
  display: flex;
  align-items: center;
  transition: height 0.3s, opacity 0.3s ease-in-out;
}

.accordion__answer-text {
  display: inline-block;
}

.attribution {
  text-align: center;
}

.attribution a {
  color: hsl(14, 88%, 65%);
  transition: color 0.2s;
}

.attribution a:hover {
  color: hsl(237, 12%, 33%);
}

/** Classes to be added with javascript  */
.active {
  padding: 1rem 0 0;
}

.active .accordion__answer {
  visibility: visible;
  height: 8rem;
  opacity: 1;
}

.active .btn {
  font-weight: 700;
}

.active .accordion__icon {
  transform: rotate(180deg);
}

/** Media queries  */
@media only screen and (max-width: 68.75em) {
  .accordion {
    grid-template-columns: 1fr;
    max-width: 60rem;
    max-height: 50rem;
    padding: 5rem;
  }

  .accordion--img {
    top: -9rem;
    left: 10%;
    width: 10rem;
  }

  .accordion--img-bg {
    top: -18.5rem;
    left: 15%;
    width: 30rem;
  }

  .accordion--img-pattern {
    width: 30rem;
    top: -21.5rem;
    left: 15%;
  }
}

@media only screen and (max-width: 40em) {
  .container {
    padding: 0 3rem;
  }
}

@media only screen and (max-width: 36em) {
  .accordion--img {
    left: 5%;
  }

  .accordion--img-bg,
  .accordion--img-pattern {
    left: 10%;
  }
}

@media only screen and (max-width: 30em) {
  .accordion {
    padding: 0 2rem;
  }

  .accordion--img {
    left: 5%;
    top: -3rem;
    width: 7rem;
  }

  .accordion--img-bg {
    top: -9rem;
  }

  .accordion--img-pattern {
    top: -11rem;
  }

  .accordion--img-bg,
  .accordion--img-pattern {
    left: 10%;
    width: 20rem;
  }

  .btn {
    font-size: 1.6rem;
  }

  body {
    font-size: 1.4rem;
  }
}
