*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  font-size: 1.8rem;
  font-weight: 400;
  font-family: "Kumbh Sans", sans-serif;
  padding: 0 10rem;
  background: linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%))
    no-repeat;
  display: grid;
  place-items: center center;
  height: 100vh;
}

.heading-1 {
  font-size: calc(1.6rem + 1.6vw);
  font-weight: 700;
}

.paragraph {
  display: none;
  opacity: 0;
  padding-top: 2rem;
}

.paragraph-active {
  display: block;
  opacity: 1;
}

.btn {
  border: none;
  background: transparent;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.btn:focus {
  outline: none;
}

.mt-md {
  margin-top: 4rem;
}

.accordion__container {
  background-color: hsl(240, 5%, 91%);
  max-width: 114rem;
  width: 100%;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
}

.accordion__figure {
  /* overflow: hidden; */
  padding: 3rem;
  align-self: center;
}

.accordion__figure--img {
  /* transform: translateX(-6rem); */
  width: 100%;
}

.accordion__text-box {
  padding: 5rem;
  width: 100%;
}

.accordion__question {
  padding-bottom: 2rem;
  border-bottom: 1px solid rgba(51, 51, 51, 0.226);
}

.accordion__question:not(:last-of-type) {
  margin-bottom: 2rem;
}

.accordion__icon {
  width: 2rem;
  height: 2rem;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 60em) {
  body {
    height: max-content;
  }
  .accordion__container {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .accordion__figure--img {
    transform: translateX(0);
  }
}
